h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main-container{
    display:flex;
    flex-direction: column;
}

.nav-container{
    display:flex;
    gap:10px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:10px;
}

.items-container{
    display:flex;
    /* gap: 10%; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border:2px solid green; */
}

.itemcont{
    display:flex;
    padding: 1px 10px;
    justify-content: space-evenly;
    border:2px solid tomato;
    width:40%;
    gap:5% 2%;
    margin:1%;
}

img{
    /* border: 2px solid grey; */
    border-radius: 10px;
    padding:5px;
}

.right-container{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    /* border:2px solid black; */
}

 .title{
    display: flex;
    color:green;
    justify-content: space-between;
    border-bottom: 2px solid black;
    /* gap:20px; */
}

.title{
    font-weight: 500;
    font-size: 18px;
}

.nav-container > span{
    border-bottom: 2px solid green;
}